/* IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/* STYLE */

body {
  background-color: #FFE3F8;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

h1 {
  margin-bottom: 0;
}

h1, h2, h4 {
  color: #F02232;
}

h2, h3 {
  font-weight: 700;
}

.container {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 300px 300px 300px 500px;
}

.box-a {
  background-color: #FAD700;
  grid-column: 1;
  grid-row: 1;
}

.box-a h3 {
  color: #fff;
  display: inline-block;
  font-size: 40px;
  transform: translate(20%, 320%) rotate(-90deg);
  white-space: nowrap;
}

.box-b {
  background-color: #1022D1;
  grid-column: 2;
  grid-row: 1;
  padding: 5% 0 0 10%;
}

.box-b h3 {
  color: #fff;
  font-size: 60px;
  width: 40%;
}

.box-c {
  grid-column: 3;
  grid-row: 1;
  padding: 0 30px;
}

.box-c h2 {
  font-size: 40px;
  text-transform: uppercase;
  width: 2%;
}

.box-d {
  grid-column: 4;
  grid-row:  1;

  align-items: stretch;
  justify-items: stretch;
  padding-top: 8%;
}

.box-d h1 {
  font-size: 200px;
  font-weight: 800;
  float: right;
}

.box-e {
  grid-column: 1 / 2;
  grid-row: 2;

  padding: 20% 0 0 10%;
}

.box-e h4 {
  font-size: 30px;
  margin-bottom: 0;
}

.box-e p {
  color: #F02232;
  text-transform: uppercase;
}

.box-f {
  grid-column: 3 / span 4;
  grid-row: 2;
  background-color: #1022D1;
  padding: 10% 5% 0 0;
  justify-self: end;
}

.box-f p {
  color: #fff;
  font-size: 25px;
  float: right;
  font-weight: 600;
  text-align: right;
  width: 50%;
}

.box-g {
  grid-column: 1 / 3;
  grid-row: 3;
  background-color: #FAD700;
  padding: 1% 5%;
}

.box-g p {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}

.box-h {
  grid-column: 3 / span 4;
  grid-row: 3;
  padding: 1%  5%;
  justify-self: end;
}

.box-h p {
  color: #F02232;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
}